<a href="https://colab.research.google.com/github/Arthi2303A51595/python-for-data-science/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {
    'Student_ID': [1, 2, 3, 4],
    'Name': ['Asha', 'Ravi', 'Neha', 'Kiran'],
    'Math': [80, None, 78, 90],
    'Science': [85, 88, None, 92],
    'English': [78, 82, 79, None]
}
df = pd.DataFrame(data)
df[['Math', 'Science', 'English']] = df[['Math', 'Science', 'English']].apply(lambda x: x.fillna(x.mean()))
top = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print(top[['Student_ID', 'Name', 'Math', 'Science', 'English']])

   Student_ID   Name       Math    Science    English
0           1   Asha  80.000000  85.000000  78.000000
1           2   Ravi  82.666667  88.000000  82.000000
2           3   Neha  78.000000  88.333333  79.000000
3           4  Kiran  90.000000  92.000000  79.666667

In [ ]:
import pandas as pd
data = {
    'Patient_ID': [101, 102, 103, 104],
    'Name': ['Meena', 'Raj', 'Latha', 'Anita'],
    'Age': [65, None, 52, None],
    'Gender': ['Female', 'Male', 'Female', 'Female'],
    'Diagnosis': ['Diabetes', 'Hypertension', 'Diabetes', 'Diabetes'],
    'Admission_Date': ['2023-01-10', '2023-02-15', '2023-03-20', '2023-04-05']
}

df = pd.DataFrame(data)
df['Age'] = df['Age'].fillna(df['Age'].median())
filtered = df[(df['Gender'] == 'Female') & (df['Age'] > 50) & (df['Diagnosis'] == 'Diabetes')]
print(filtered[['Patient_ID', 'Name', 'Age', 'Gender', 'Diagnosis']])

   Patient_ID   Name   Age  Gender Diagnosis
0         101  Meena  65.0  Female  Diabetes
2         103  Latha  52.0  Female  Diabetes
3         104  Anita  58.5  Female  Diabetes