<a href="https://colab.research.google.com/github/Arthi2303A51595/python-for-data-science/blob/main/LAB6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample sales data with duplicate entries
data = {
    'TransactionID': [101, 102, 103, 104, 102, 105, 103, 106],
    'Date': ['2025-09-01', '2025-09-01', '2025-09-02', '2025-09-03', '2025-09-01', '2025-09-04', '2025-09-02', '2025-09-05'],
    'Customer': ['madhuri', 'varsha', 'nithya', 'nirnaya', 'varsha', 'karuna', 'nithya', 'varsha'],
    'Amount': [250, 300, 450, 500, 300, 600, 450, 700]
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   TransactionID        Date Customer  Amount
0            101  2025-09-01  madhuri     250
1            102  2025-09-01   varsha     300
2            103  2025-09-02   nithya     450
3            104  2025-09-03  nirnaya     500
4            102  2025-09-01   varsha     300
5            105  2025-09-04   karuna     600
6            103  2025-09-02   nithya     450
7            106  2025-09-05   varsha     700

In [ ]:
# Find duplicate rows based on all columns
duplicates = df.duplicated(keep=False)
print("\nDuplicate Rows:")
print(df[duplicates])

Duplicate Rows:
   TransactionID        Date Customer  Amount
1            102  2025-09-01   varsha     300
2            103  2025-09-02   nithya     450
4            102  2025-09-01   varsha     300
6            103  2025-09-02   nithya     450

In [ ]:
# Remove duplicate rows, keeping the first occurrence
df_cleaned = df.drop_duplicates()

print("\nCleaned Dataset:")
print(df_cleaned)

# Count of duplicates before and after
print("\nNumber of rows before cleaning:", len(df))
print("Number of rows after cleaning:", len(df_cleaned))

Cleaned Dataset:
   TransactionID        Date Customer  Amount
0            101  2025-09-01  madhuri     250
1            102  2025-09-01   varsha     300
2            103  2025-09-02   nithya     450
3            104  2025-09-03  nirnaya     500
5            105  2025-09-04   karuna     600
7            106  2025-09-05   varsha     700

Number of rows before cleaning: 8
Number of rows after cleaning: 6

Create a Sample Employee Dataset with Incorrect Data Types

In [ ]:
import pandas as pd

# Sample employee data with Salary as string and Joining_Date as string
data = {
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Salary': ['50000', '60000', '55000', '70000'],  # Salary stored as string
    'Joining_Date': ['2020-01-15', '2019-06-30', '2021-03-10', '2018-11-01']  # Date stored as string
}

df = pd.DataFrame(data)

print("Original Dataset:")
print(df)
print("\nData types before conversion:")
print(df.dtypes)

Original Dataset:
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2020-01-15
1           2      Bob  60000   2019-06-30
2           3  Charlie  55000   2021-03-10
3           4    David  70000   2018-11-01

Data types before conversion:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

In [ ]:
# Convert Salary from string to numeric
df['Salary'] = pd.to_numeric(df['Salary'])

print("\nDataset after converting Salary to numeric:")
print(df)
print("\nData types after converting Salary:")
print(df.dtypes)

Dataset after converting Salary to numeric:
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2020-01-15
1           2      Bob   60000   2019-06-30
2           3  Charlie   55000   2021-03-10
3           4    David   70000   2018-11-01

Data types after converting Salary:
EmployeeID       int64
Name            object
Salary           int64
Joining_Date    object
dtype: object

In [ ]:
# Convert Joining_Date from string to datetime
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

print("\nDataset after converting Joining_Date to datetime:")
print(df)
print("\nData types after converting Joining_Date:")
print(df.dtypes)

Dataset after converting Joining_Date to datetime:
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2020-01-15
1           2      Bob   60000   2019-06-30
2           3  Charlie   55000   2021-03-10
3           4    David   70000   2018-11-01

Data types after converting Joining_Date:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object